{% extends 'base.html' %}

{% block content %}
  <div class="recipe-entry">
    <h2>{{ object.title }}</h2>
    <p>by {{ object.author }} | {{ object.pub_date }}</p>
    <p>{{ object.description }}</p>
  </div>
  {% if user == recipe.author %}
    <p><a href="{% url 'recipe_edit' recipe.pk %}">Редагувати</a> |
      <a href="{% url 'recipe_delete' recipe.pk %}">Видалити</a></p>
  {% endif %}
    <p>Повернутись до <a href="{% url 'recipe_list' %}">Всіх рецептів</a>.</p>
    <hr>
    <form action="{% url 'like_recipe' recipe.pk %}" method="post">
      {% csrf_token %}
      <button type="submit" name="recipe_id",
      value="{{ recipe.id }}", class="btn btn-primary
      btn">{{ total_likes }} Лайків</button>
    </form>
{% endblock content %}
